NAME : NANA FOSU ASAMOAH
ID : 11305528
DEPARTMENT : CPEN

In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [59]:
print("First 10 rows:")
print(dataset.head(10))
# the head method displays the first 5 rows of the dataframe
#data.head(10)--- to show first 10 rows-----thus by specification

First 10 rows:
   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076
5            7.4              0.66         0.00             1.8      0.075
6            7.9              0.60         0.06             1.6        NaN
7            7.3              0.65         0.00             1.2      0.065
8            7.8              0.58         0.02             2.0      0.073
9            7.5              0.50         0.36             6.1      0.071

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56
5                 13.0                  40.0   0.9978  3.51       0.56
6                 15.0                  59.0   0.9964  3.30       0.46
7                 15.0                  21.0   0.9946  3.39       0.47
8                  9.0                  18.0   0.9968  3.36       0.57
9                 17.0                 102.0   0.9978  3.35       0.80

   alcohol  quality
0      9.4      5.0
1      9.8      5.0
2      9.8      5.0
3      9.8      6.0
4      9.4      5.0
5      9.4      5.0
6      9.4      5.0
7     10.0      7.0
8      9.5      7.0
9     10.5      5.0

In [60]:
print("\nLast 20 rows:")
print(dataset.tail(20))
# data.tail() --- by default returns the last five rows of the data
# but can be changed by specification as shown above
# eg. data.tail(10)--- to show last 10 rows

Last 20 rows:
      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
1579            6.2             0.560         0.09             1.7      0.053
1580            7.4             0.350         0.33             2.4      0.068
1581            6.2             0.560         0.09             1.7      0.053
1582            6.1             0.715         0.10             2.6      0.053
1583            6.2             0.460         0.29             2.1      0.074
1584            6.7             0.320         0.44             2.4      0.061
1585            7.2             0.390         0.44             2.6      0.066
1586            7.5             0.310         0.41             2.4      0.065
1587            5.8             0.610         0.11             1.8      0.066
1588            7.2             0.660         0.33             2.5      0.068
1589            6.6             0.725         0.20             7.8      0.073
1590            6.3             0.550         0.15             1.8      0.077
1591            5.4             0.740         0.09             1.7      0.089
1592            6.3             0.510         0.13             2.3      0.076
1593            6.8             0.620         0.08             1.9      0.068
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
1579                 24.0                  32.0  0.99402  3.54       0.60
1580                  9.0                  26.0  0.99470  3.36       0.60
1581                 24.0                  32.0  0.99402  3.54       0.60
1582                 13.0                  27.0  0.99362  3.57       0.50
1583                 32.0                  98.0  0.99578  3.33       0.62
1584                 24.0                  34.0  0.99484  3.29       0.80
1585                 22.0                  48.0  0.99494  3.30       0.84
1586                 34.0                  60.0  0.99492  3.34       0.85
1587                 18.0                  28.0  0.99483  3.55       0.66
1588                 34.0                 102.0  0.99414  3.27       0.78
1589                 29.0                  79.0  0.99770  3.29       0.54
1590                 26.0                  35.0  0.99314  3.32       0.82
1591                 16.0                  26.0  0.99402  3.67       0.56
1592                 29.0                  40.0  0.99574  3.42       0.75
1593                 28.0                  38.0  0.99651  3.42       0.82
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
1579     11.3      5.0
1580     11.9      6.0
1581     11.3      5.0
1582     11.9      5.0
1583      9.8      5.0
1584     11.6      7.0
1585     11.5      6.0
1586     11.4      6.0
1587     10.9      6.0
1588     12.8      6.0
1589      9.2      5.0
1590     11.6      6.0
1591     11.6      6.0
1592     11.0      6.0
1593      9.5      6.0
1594     10.5      5.0
1595     11.2      6.0
1596     11.0      6.0
1597     10.2      5.0
1598     11.0      6.0

In [61]:
print("\nDataset Information:")
print(dataset.info())
# data info --- refers to  the data size or structure

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1598 non-null   float64
 1   volatile acidity      1598 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1595 non-null   float64
 5   free sulfur dioxide   1598 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1598 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1598 non-null   float64
dtypes: float64(12)
memory usage: 150.0 KB
None

Removes all null values --- dropna method

In [62]:
# the dropna() method removes all null values from the dataset

Fillna method fills the null set with data based on your command

In [63]:
# A = original_dataset['fixed acidity'].mean() 
# original_dataset['fixed acidity']=original_dataset['fixed acidity'].fillna(A)
# so with this it fills the null sets in the fixed acidity with the mean of all the fixed acidities

In [64]:
complete_data = dataset.dropna()
complete_data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5.0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5.0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0

In [65]:
print("\nStatistical Information:")
print(dataset.describe())

Statistical Information:
       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1598.000000       1598.000000  1599.000000     1599.000000
mean        8.318335          0.527747     0.270976        2.538806
std         1.740863          0.179092     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1595.000000          1598.000000           1599.000000  1598.000000
mean      0.087476            15.867334             46.467792     0.996746
std       0.047117            10.459029             32.895324     0.001887
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997830
max       0.611000            72.000000            289.000000     1.003690

                pH    sulphates      alcohol      quality
count  1599.000000  1599.000000  1599.000000  1598.000000
mean      3.311113     0.658149    10.422983     5.635795
std       0.154386     0.169507     1.065668     0.807771
min       2.740000     0.330000     8.400000     3.000000
25%       3.210000     0.550000     9.500000     5.000000
50%       3.310000     0.620000    10.200000     6.000000
75%       3.400000     0.730000    11.100000     6.000000
max       4.010000     2.000000    14.900000     8.000000

Replacing null values with mean

In [66]:
original_dataset = dataset

In [67]:
original_dataset = pd.read_csv('red_wine.csv')

In [68]:
A = original_dataset['fixed acidity'].mean()

In [69]:
B = original_dataset['volatile acidity'].mean()

In [70]:
C = original_dataset['chlorides'].mean()

In [71]:
D = original_dataset['free sulfur dioxide'].mean()

In [72]:
E = original_dataset['density'].mean()

In [73]:
F = original_dataset['quality'].mean()

In [74]:
original_dataset['fixed acidity']=original_dataset['fixed acidity'].fillna(A)

In [75]:
original_dataset['volatile acidity']=original_dataset['volatile acidity'].fillna(B)

In [76]:
original_dataset['chlorides']=original_dataset['chlorides'].fillna(C)

In [77]:
original_dataset['free sulfur dioxide']= original_dataset['free sulfur dioxide'].fillna(D)

In [78]:
original_dataset['density']= original_dataset['density'].fillna(E)

In [79]:
original_dataset['quality']=original_dataset['quality'].fillna(F)

In [80]:
original_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   float64
dtypes: float64(12)
memory usage: 150.0 KB

In [81]:
graph = original_dataset[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']]
plt.plot(graph)

AttributeError: module 'matplotlib' has no attribute 'plot'